In [15]:
np.arange(10) #for creating arange of elements

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [14]:
import numpy as np
n=[1,2,3,4,5,6,7,8,9,10,11]
a=np.array(n) #converting list into array
a

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11])

In [11]:
#it is used to reshape() the existing array
m=a.reshape(11,1)

In [12]:
m

array([[ 1],
       [ 2],
       [ 3],
       [ 4],
       [ 5],
       [ 6],
       [ 7],
       [ 8],
       [ 9],
       [10],
       [11]])

In [27]:
np.arange(10).reshape(2,5)

array([[0, 1, 2, 3, 4],
       [5, 6, 7, 8, 9]])

In [13]:
a[1:4] #slicing

array([2, 3, 4])

In [29]:
a[-1:]

array([11])

In [21]:
#identity matrix can be created using two functions
#eye() ->used to define both user defined rows and columns
#identity() ->used to define same number of rows and columns 
md1=np.eye(5,6) #for identity  matrix 2 arguments or 1 arguments i.e 5rows,6columns

In [23]:
md1

array([[1., 0., 0., 0., 0., 0.],
       [0., 1., 0., 0., 0., 0.],
       [0., 0., 1., 0., 0., 0.],
       [0., 0., 0., 1., 0., 0.],
       [0., 0., 0., 0., 1., 0.]])

In [19]:
md=np.identity(3) #identity matrix range can be only 1 argument i.e 3rows,3columns

In [20]:
md

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

In [30]:
m=np.arange(25).reshape(5,5)

In [31]:
m

array([[ 0,  1,  2,  3,  4],
       [ 5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14],
       [15, 16, 17, 18, 19],
       [20, 21, 22, 23, 24]])

In [34]:
#multidimensional array slicing
#ar2[row_start:row_end,column_start:column_end]
m[0:2,1:4]

array([[1, 2, 3],
       [6, 7, 8]])

In [33]:
m[1:3,1:3] #positive indexing

array([[ 6,  7],
       [11, 12]])

In [44]:
m[-4:-2,-4:-2] #using negative indexing

array([[ 6,  7],
       [11, 12]])

In [47]:
np.mean(a)

6.0

In [48]:
np.arange(50).mean()

24.5

In [49]:
ar3=np.arange(50).reshape(5,10)

In [50]:
ar3

array([[ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14, 15, 16, 17, 18, 19],
       [20, 21, 22, 23, 24, 25, 26, 27, 28, 29],
       [30, 31, 32, 33, 34, 35, 36, 37, 38, 39],
       [40, 41, 42, 43, 44, 45, 46, 47, 48, 49]])

In [59]:
ar3[-3:-1,-3:-2]

array([[27],
       [37]])

In [62]:
np.sum(ar3)

1225

In [60]:
np.sum(ar3,axis=0) #to add based on column wise axis=0

array([100, 105, 110, 115, 120, 125, 130, 135, 140, 145])

In [61]:
np.sum(ar3,axis=1) #to add based on column wise axis=1

array([ 45, 145, 245, 345, 445])

In [ ]:
#mean -->average
#median -->middle value
#mode -->repeated value
#variance -->median/total number of elements
#standard deviation -->square root of variance

In [64]:
np.mean(ar3)

24.5

In [63]:
np.median(ar3)

24.5

In [79]:
var=np.var(ar3) #variance
var

208.25

In [83]:
std=np.sqrt(var) #standard deviation
std

14.430869689661812

In [96]:
#linespace()
#It is used to print the evenly seperated point between two range values
np.linspace(0,100,5) #linspace(star,end,number of parts)

array([  0.,  25.,  50.,  75., 100.])

In [93]:
np.linspace(0,10,5,dtype=int) #dtype for converting datatype

array([ 0,  2,  5,  7, 10])

In [101]:
np.linspace(0,100,5,dtype=int,retstep=True)

(array([  0,  25,  50,  75, 100]), 25.0)

In [125]:
#random module
#np.random.randint(start,end)
np.random.randint(0,70)

20

In [108]:
#np.random.randint(range)
np.random.randint(100)

80

In [153]:
#np.random.randint(start,end,no_of_values)
np.random.randint(30,41,2)

array([31, 40])

In [159]:
#rand()
#To get the randomly generated values from 0 to 1,based on uniform distribution
np.random.rand(5)

0.47735304334467943

In [161]:
#normalised distribution
np.random.randn(5,4)

array([[-0.76417891,  1.31001105,  1.40701478, -0.02344011],
       [ 1.0151868 ,  0.68832914, -0.72710775,  0.13625374],
       [ 0.67526043,  0.33196923,  2.14953159, -0.188485  ],
       [ 0.70426608,  1.69517965, -0.29002529,  1.33744215],
       [ 0.80664907, -0.41753221,  0.92890037,  1.01943712]])

In [162]:
a.min() #min() -->for finding min value

1

In [163]:
a.max() #max() -->for finding max value

11

In [169]:
a=np.arange(10)
a

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [181]:
a.argmax() #argmax() -->index of max value in array

9

In [183]:
a.argmin() #argmin() -->index of min value in array

0

In [188]:
np.sin(a)

array([ 0.        ,  0.84147098,  0.90929743,  0.14112001, -0.7568025 ,
       -0.95892427, -0.2794155 ,  0.6569866 ,  0.98935825,  0.41211849])

In [187]:
np.cos((a))

array([ 1.        ,  0.54030231, -0.41614684, -0.9899925 , -0.65364362,
        0.28366219,  0.96017029,  0.75390225, -0.14550003, -0.91113026])

In [189]:
np.tan(a)

array([ 0.        ,  1.55740772, -2.18503986, -0.14254654,  1.15782128,
       -3.38051501, -0.29100619,  0.87144798, -6.79971146, -0.45231566])

In [192]:
np.sin(a)/np.cos(a) #tan

array([ 0.        ,  1.55740772, -2.18503986, -0.14254654,  1.15782128,
       -3.38051501, -0.29100619,  0.87144798, -6.79971146, -0.45231566])

In [193]:
np.cos(a)/np.sin(a)  #cot

C:\Users\HP\AppData\Local\Temp\ipykernel_14976\3202920359.py:1: RuntimeWarning: divide by zero encountered in divide
  np.cos(a)/np.sin(a)

array([        inf,  0.64209262, -0.45765755, -7.01525255,  0.86369115,
       -0.29581292, -3.436353  ,  1.14751542, -0.14706506, -2.21084541])

In [194]:
1/np.sin(a) #cosec

C:\Users\HP\AppData\Local\Temp\ipykernel_14976\1909192946.py:1: RuntimeWarning: divide by zero encountered in divide
  1/np.sin(a)

array([        inf,  1.18839511,  1.09975017,  7.0861674 , -1.32134871,
       -1.04283521, -3.57889955,  1.52210106,  1.01075622,  2.42648664])

In [195]:
1/np.cos(a) #sec

array([ 1.        ,  1.85081572, -2.40299796, -1.01010867, -1.52988566,
        3.52532009,  1.04148193,  1.3264319 , -6.87285064, -1.09753791])

In [215]:
np2=np.array([1,2,3])
np3=np.array([4,5,6])
#(1*4)+(2*5)+(3*6)
b=(np2[0]*np3[0])+(np2[1]*np3[1])+(np2[2]*np3[2])
b

32

In [262]:
np2=np.array([1,2,3,9])
np3=np.array([4,5,6,1])
#np2*np3
np.dot(np2,np3)

41

In [280]:
np2=np.array([1,2,3,8,1])
np3=np.array([4,5,6,8,9])
len1=len(np2)
len2=len(np3)
diff=len1-len2
diff1=abs(diff)
for i in range(diff):
    np3=np.append(np3,1)
np.dot(np2,np3)

105

In [245]:
np1=np.array([1,23,4,5,6,7,np.nan,np.nan,np.nan])
np1

array([ 1., 23.,  4.,  5.,  6.,  7., nan, nan, nan])

In [246]:
print(np1[np.isnan(np1)])

[nan nan nan]

In [248]:
print(np1[~np.isnan(np1)])

[ 1. 23.  4.  5.  6.  7.]

In [255]:
pip list

Package                       Version
----------------------------- ---------------
alabaster                     0.7.12
anaconda-client               1.11.2
anaconda-navigator            2.4.0
anaconda-project              0.11.1
anyio                         3.5.0
appdirs                       1.4.4
argon2-cffi                   21.3.0
argon2-cffi-bindings          21.2.0
arrow                         1.2.3
astroid                       2.14.2
astropy                       5.1
asttokens                     2.0.5
atomicwrites                  1.4.0
attrs                         22.1.0
Automat                       20.2.0
autopep8                      1.6.0
Babel                         2.11.0
backcall                      0.2.0
backports.functools-lru-cache 1.6.4
backports.tempfile            1.0
backports.weakref             1.0.post1
bcrypt                        3.2.0
beautifulsoup4                4.11.1
binaryornot                   0.4.4
black                         22.6.0
bleach                        4.1.0
bokeh                         2.4.3
boltons                       23.0.0
boto3                         1.13.4
botocore                      1.16.26
Bottleneck                    1.3.5
brotlipy                      0.7.0
certifi                       2022.12.7
cffi                          1.15.1
chardet                       4.0.0
charset-normalizer            2.0.4
click                         8.0.4
cloudpickle                   2.0.0
clyent                        1.2.2
colorama                      0.4.6
colorcet                      3.0.1
comm                          0.1.2
conda                         23.3.1
conda-build                   3.24.0
conda-content-trust           0.1.3
conda-pack                    0.6.0
conda-package-handling        2.0.2
conda_package_streaming       0.7.0
conda-repo-cli                1.0.41
conda-token                   0.4.0
conda-verify                  3.4.2
constantly                    15.1.0
contourpy                     1.0.5
cookiecutter                  1.7.3
cryptography                  39.0.1
cssselect                     1.1.0
cycler                        0.11.0
cytoolz                       0.12.0
daal4py                       2023.0.2
dask                          2022.7.0
datashader                    0.14.4
datashape                     0.5.4
debugpy                       1.5.1
decorator                     5.1.1
defcon-utils                  0.0.4
defusedxml                    0.7.1
diff-match-patch              20200713
dill                          0.3.6
distributed                   2022.7.0
docstring-to-markdown         0.11
docutils                      0.15.2
EasyProcess                   1.1
entrypoint2                   1.1
entrypoints                   0.4
et-xmlfile                    1.1.0
executing                     0.8.3
fastjsonschema                2.16.2
filelock                      3.9.0
flake8                        6.0.0
Flask                         2.2.2
flit_core                     3.6.0
fonttools                     4.25.0
forex-python                  1.8
fsspec                        2022.11.0
future                        0.18.3
gensim                        4.3.0
glob2                         0.7
greenlet                      2.0.1
h5py                          3.7.0
HeapDict                      1.0.1
holoviews                     1.15.4
huggingface-hub               0.10.1
hvplot                        0.8.2
hyperlink                     21.0.0
idna                          3.4
imagecodecs                   2021.8.26
imageio                       2.26.0
imagesize                     1.4.1
imbalanced-learn              0.10.1
importlib-metadata            4.11.3
incremental                   21.3.0
inflection                    0.5.1
iniconfig                     1.1.1
intake                        0.6.7
intervaltree                  3.1.0
ipykernel                     6.19.2
ipython                       8.10.0
ipython-genutils              0.2.0
ipywidgets                    7.6.5
isort                         5.9.3
itemadapter                   0.3.0
itemloaders                   1.0.4
itsdangerous                  2.0.1
jedi                          0.18.1
jellyfish                     0.9.0
Jinja2                        3.1.2
jinja2-time                   0.2.0
jmespath                      0.10.0
joblib                        1.1.1
json5                         0.9.6
jsonpatch                     1.32
jsonpointer                   2.1
jsonschema                    4.17.3
jupyter                       1.0.0
jupyter_client                7.3.4
jupyter-console               6.6.2
jupyter_core                  5.2.0
jupyter-server                1.23.4
jupyterlab                    3.5.3
jupyterlab-pygments           0.1.2
jupyterlab_server             2.19.0
jupyterlab-widgets            1.0.0
keyring                       23.4.0
kiwisolver                    1.4.4
lazy-object-proxy             1.6.0
libarchive-c                  2.9
llvmlite                      0.39.1
locket                        1.0.0
lxml                          4.9.1
lz4                           3.1.3
Markdown                      3.4.1
MarkupSafe                    2.1.1
matplotlib                    3.7.0
matplotlib-inline             0.1.6
mccabe                        0.7.0
menuinst                      1.4.19
mistune                       0.8.4
mkl-fft                       1.3.1
mkl-random                    1.2.2
mkl-service                   2.4.0
mock                          4.0.3
MouseInfo                     0.1.3
mpmath                        1.2.1
msgpack                       1.0.3
mss                           9.0.1
multipledispatch              0.6.0
munkres                       1.1.4
mypy-extensions               0.4.3
navigator-updater             0.3.0
nbclassic                     0.5.2
nbclient                      0.5.13
nbconvert                     6.5.4
nbformat                      5.7.0
nest-asyncio                  1.5.6
networkx                      2.8.4
nltk                          3.7
notebook                      6.5.2
notebook_shim                 0.2.2
numba                         0.56.4
numexpr                       2.8.4
numpy                         1.23.5
numpydoc                      1.5.0
openpyxl                      3.0.10
packaging                     22.0
pandas                        1.5.3
pandocfilters                 1.5.0
panel                         0.14.3
param                         1.12.3
paramiko                      2.8.1
parsel                        1.6.0
parso                         0.8.3
partd                         1.2.0
pathlib                       1.0.1
pathspec                      0.10.3
patsy                         0.5.3
pep8                          1.7.1
pexpect                       4.8.0
pickleshare                   0.7.5
Pillow                        9.4.0
pip                           22.3.1
pkginfo                       1.9.6
platformdirs                  2.5.2
plotly                        5.9.0
pluggy                        1.0.0
ply                           3.11
pooch                         1.4.0
poyo                          0.5.0
prometheus-client             0.14.1
prompt-toolkit                3.0.36
Protego                       0.1.16
psutil                        5.9.0
ptyprocess                    0.7.0
pure-eval                     0.2.2
py                            1.11.0
pyasn1                        0.4.8
pyasn1-modules                0.2.8
PyAutoGUI                     0.9.54
pycodestyle                   2.10.0
pycosat                       0.6.4
pycparser                     2.21
pyct                          0.5.0
pycurl                        7.45.1
PyDispatcher                  2.0.5
pydocstyle                    6.3.0
pyerfa                        2.0.0
pyflakes                      3.0.1
PyGetWindow                   0.0.9
Pygments                      2.11.2
PyHamcrest                    2.0.2
PyJWT                         2.4.0
pylint                        2.16.2
pylint-venv                   2.3.0
pyls-spyder                   0.4.0
PyMsgBox                      1.0.9
PyNaCl                        1.5.0
pyodbc                        4.0.34
pyOpenSSL                     23.0.0
pyparsing                     3.0.9
pyperclip                     1.8.2
PyQt5                         5.15.7
PyQt5-sip                     12.11.0
PyQtWebEngine                 5.15.4
PyRect                        0.2.0
pyrsistent                    0.18.0
pyscreenshot                  3.1
PyScreeze                     0.1.29
PySocks                       1.7.1
pytest                        7.1.2
python-dateutil               2.8.2
python-http-client            3.3.7
python-lsp-black              1.2.1
python-lsp-jsonrpc            1.0.0
python-lsp-server             1.7.1
python-slugify                5.0.2
python-snappy                 0.6.1
pytoolconfig                  1.2.5
pytweening                    1.0.7
pytz                          2022.7
pyviz-comms                   2.0.2
PyWavelets                    1.4.1
pywhatkit                     5.4
pywin32                       305.1
pywin32-ctypes                0.2.0
pywinpty                      2.0.10
PyYAML                        6.0
pyzmq                         23.2.0
QDarkStyle                    3.0.2
qstylizer                     0.2.2
QtAwesome                     1.2.2
qtconsole                     5.4.0
QtPy                          2.2.0
queuelib                      1.5.0
regex                         2022.7.9
requests                      2.28.1
requests-file                 1.5.1
requests-toolbelt             0.9.1
rope                          1.7.0
Rtree                         1.0.1
ruamel.yaml                   0.17.21
ruamel.yaml.clib              0.2.6
ruamel-yaml-conda             0.17.21
s3transfer                    0.3.7
scikit-image                  0.19.3
scikit-learn                  1.2.1
scikit-learn-intelex          20230228.214818
scipy                         1.10.0
Scrapy                        2.8.0
seaborn                       0.12.2
Send2Trash                    1.8.0
sendgrid                      6.3.1
service-identity              18.1.0
setuptools                    65.6.3
simplejson                    3.19.1
sip                           6.6.2
six                           1.16.0
smart-open                    5.2.1
sniffio                       1.2.0
snowballstemmer               2.2.0
sortedcontainers              2.4.0
soupsieve                     2.3.2.post1
Sphinx                        5.0.2
sphinxcontrib-applehelp       1.0.2
sphinxcontrib-devhelp         1.0.2
sphinxcontrib-htmlhelp        2.0.0
sphinxcontrib-jsmath          1.0.1
sphinxcontrib-qthelp          1.0.3
sphinxcontrib-serializinghtml 1.1.5
spyder                        5.4.1
spyder-kernels                2.4.1
SQLAlchemy                    1.4.39
stack-data                    0.2.0
statsmodels                   0.13.5
sympy                         1.11.1
tables                        3.7.0
tabulate                      0.8.10
TBB                           0.2
tblib                         1.7.0
tenacity                      8.0.1
terminado                     0.17.1
text-unidecode                1.3
textdistance                  4.2.1
threadpoolctl                 2.2.0
three-merge                   0.1.1
tifffile                      2021.7.2
tinycss2                      1.2.1
tldextract                    3.2.0
tokenizers                    0.11.4
toml                          0.10.2
tomli                         2.0.1
tomlkit                       0.11.1
toolz                         0.12.0
torch                         1.12.1
tornado                       6.1
tqdm                          4.64.1
traitlets                     5.7.1
transformers                  4.24.0
Twisted                       22.2.0
twisted-iocpsupport           1.0.2
typing_extensions             4.4.0
ujson                         5.4.0
Unidecode                     1.2.0
urllib3                       1.25.11
w3lib                         1.21.0
watchdog                      2.1.6
wcwidth                       0.2.5
webencodings                  0.5.1
websocket-client              0.58.0
Werkzeug                      2.2.2
whatsapp-api                  0.0.3
whatthepatch                  1.0.2
wheel                         0.38.4
widgetsnbextension            3.5.2
wikipedia                     1.4.0
win-inet-pton                 1.1.0
wincertstore                  0.2
wrapt                         1.14.1
xarray                        2022.11.0
xlwings                       0.29.1
yapf                          0.31.0
zict                          2.1.0
zipp                          3.11.0
zope.interface                5.4.0
zstandard                     0.19.0
Note: you may need to restart the kernel to use updated packages.

In [256]:
pip install pandas

Requirement already satisfied: pandas in c:\users\hp\anaconda3\lib\site-packages (1.5.3)
Requirement already satisfied: numpy>=1.21.0 in c:\users\hp\anaconda3\lib\site-packages (from pandas) (1.23.5)
Requirement already satisfied: pytz>=2020.1 in c:\users\hp\anaconda3\lib\site-packages (from pandas) (2022.7)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\hp\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\hp\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [268]:
#Pandas
import pandas as pd
#Pandas is defined as an open_source library that provides high-performance data manipulation in python.

#Data analysis required lot of processing such as restructuring,cleaning,merging,manipilating etc... 

#We prefer Pandas to perform above functionalities coz it is fast,simple than other tools.

#Pandas is built on Numpy,Numpy is required for operating pandas

In [281]:
#Pandas series 

#Pandas series is a data structure with one dimensional labeled array

#It is a primary building block of Dataframe,making its rows and columns

#Syntax -->pandas.series(data=None,index=None,dtype=None,name=None,copy=True or False)

In [285]:
labels=['a','b','c']
my_data=[10,20,30]
arr=np.array(my_data)
d={'a':100,'b':200,'c':300}

In [292]:
#ex:1

import pandas as pd
pd.Series(my_data)

0    10
1    20
2    30
dtype: int64

In [293]:
type(pd.Series(my_data))

pandas.core.series.Series

In [300]:
#Series with labels

#pd.Series(my_data,labels)

       #or

pd.Series(data=my_data,index=labels)

a    10
b    20
c    30
dtype: int64

In [304]:
pd.Series(data=[print(),len,sum])

0                       None
1    <built-in function len>
2                         41
dtype: object

In [320]:
class profile:
    #@property
    def display(self):
        print("my name is vinay")
p=profile()
p.display()
      

def greet():
    return "Good afternoon"
    
def decor(func):
    def inner():
        str1=func()
        return str1.lower()
    return inner()

print(decor(greet))

my name is vinay
good afternoon

In [321]:
series=pd.Series([1,2,3,4,5],['USA','INDIA','CANADA','UK','EGYPT',])

In [323]:
series

USA       1
INDIA     2
CANADA    3
UK        4
EGYPT     5
dtype: int64

In [324]:
series['USA'] #value using key

1

In [327]:
series[0] #value using indexing

1

In [328]:
series[1:]

INDIA     2
CANADA    3
UK        4
EGYPT     5
dtype: int64

In [329]:
series[-1:]

EGYPT    5
dtype: int64

In [331]:
series[::-1]

EGYPT     5
UK        4
CANADA    3
INDIA     2
USA       1
dtype: int64

In [339]:
ser=pd.Series([1,2,3,4,5],['A','B','C','D','E'])

In [340]:
series+ser

A        NaN
B        NaN
C        NaN
CANADA   NaN
D        NaN
E        NaN
EGYPT    NaN
INDIA    NaN
UK       NaN
USA      NaN
dtype: float64

In [341]:
ser[::-1]

E    5
D    4
C    3
B    2
A    1
dtype: int64

In [342]:
#To create a new data in series

ser

A    1
B    2
C    3
D    4
E    5
dtype: int64

In [350]:
series['CHINA']="SIX"

In [351]:
series

USA         1
INDIA       2
CANADA      3
UK          4
EGYPT       5
CHINA     SIX
dtype: object

In [353]:
series.drop('CHINA')

USA       1
INDIA     2
CANADA    3
UK        4
EGYPT     5
dtype: object

In [356]:
#Dataframe 
#p.DataF

#pd.DataFrame(datas,row_label,col_label)

df=pd.DataFrame(np.random.randn(5,4))

In [357]:
df

          0         1         2         3
0  0.000717  0.715169 -1.394831  0.281103
1 -0.157472  1.995142 -0.888137  0.336537
2  1.129633 -0.001685 -0.685405  0.995337
3 -0.404034 -0.848299 -1.345435 -1.627834
4 -0.105560  0.658154  0.343551  0.293631

In [390]:
df=pd.DataFrame(np.random.randn(5,4),['A','B','C','D','E'],['W','X','Y','Z'])

In [385]:
df

          W         X         Y         Z
A  1.069897 -0.143353 -0.671405  0.977698
B  1.244194 -0.691350 -0.840285  0.199231
C -0.915070 -0.302651  0.970236 -1.424221
D -0.652358 -1.496002  0.837181  0.195437
E -0.690583 -0.378840  0.832258  0.189524

In [362]:
# To convert dictionary into DataFrame

d={"col1":[1,2],"col2":[3,4],"col3":[5,6]}

In [386]:
df=pd.DataFrame(data=d,index=['row1','row2'])

                     #or
    
#df=pd.DataFrame(d,['row1','row2'])

In [387]:
d1

      col1  col2  col3
row1     1     3     5
row2     2     4     6

In [391]:
df.T  #Transpose matrix

          A         B         C         D         E
W -0.957667  1.457134  0.960571  0.084726 -0.764508
X -0.448264 -0.360486  0.224989  1.100182 -0.293663
Y -0.051915  0.774760 -1.019336  1.564261 -0.707130
Z -1.242098  1.274351 -0.742965  0.046712  1.147353

In [393]:
df.index    #Row names

Index(['A', 'B', 'C', 'D', 'E'], dtype='object')

In [395]:
df.columns  #Column names

Index(['W', 'X', 'Y', 'Z'], dtype='object')

In [396]:
type(df)

pandas.core.frame.DataFrame

In [398]:
df.dtypes

W    float64
X    float64
Y    float64
Z    float64
dtype: object

In [400]:
df.info()   #to get information about dataframes

<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, A to E
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   W       5 non-null      float64
 1   X       5 non-null      float64
 2   Y       5 non-null      float64
 3   Z       5 non-null      float64
dtypes: float64(4)
memory usage: 372.0+ bytes

In [401]:
df.values

array([[-0.95766737, -0.44826422, -0.05191548, -1.24209832],
       [ 1.45713423, -0.36048626,  0.77475985,  1.27435072],
       [ 0.96057093,  0.22498851, -1.01933555, -0.74296526],
       [ 0.08472614,  1.10018237,  1.56426127,  0.04671246],
       [-0.76450836, -0.29366324, -0.70713049,  1.1473534 ]])

In [402]:
df.axes

[Index(['A', 'B', 'C', 'D', 'E'], dtype='object'),
 Index(['W', 'X', 'Y', 'Z'], dtype='object')]

In [403]:
df.ndim

2

In [404]:
df.size

20

In [405]:
 df

          W         X         Y         Z
A -0.957667 -0.448264 -0.051915 -1.242098
B  1.457134 -0.360486  0.774760  1.274351
C  0.960571  0.224989 -1.019336 -0.742965
D  0.084726  1.100182  1.564261  0.046712
E -0.764508 -0.293663 -0.707130  1.147353

In [408]:
#To access specific column in dataframes

df['W']

A   -0.957667
B    1.457134
C    0.960571
D    0.084726
E   -0.764508
Name: W, dtype: float64

In [409]:
#type(df['W'])

pandas.core.series.Series

In [412]:
#To access multiple columns 

df[['W','X','Y']]

          W         X         Y
A -0.957667 -0.448264 -0.051915
B  1.457134 -0.360486  0.774760
C  0.960571  0.224989 -1.019336
D  0.084726  1.100182  1.564261
E -0.764508 -0.293663 -0.707130

In [415]:
#To create new column 

df['new']=df['W']+df['Y']

In [429]:
df

          W         X         Y         Z
A -0.957667 -0.448264 -0.051915 -1.242098
B  1.457134 -0.360486  0.774760  1.274351
C  0.960571  0.224989 -1.019336 -0.742965
D  0.084726  1.100182  1.564261  0.046712
E -0.764508 -0.293663 -0.707130  1.147353

In [432]:
df['new']=df['W']+df['Y']

In [433]:
df.drop("new",axis=1,inplace=True)

In [434]:
df

          W         X         Y         Z
A -0.957667 -0.448264 -0.051915 -1.242098
B  1.457134 -0.360486  0.774760  1.274351
C  0.960571  0.224989 -1.019336 -0.742965
D  0.084726  1.100182  1.564261  0.046712
E -0.764508 -0.293663 -0.707130  1.147353